<div class="nav-bar">
  <ul class="list-menu">
    <li class="nav-bar__item--top">
      <a href="#" class="ico-account-sidebar">
        <img src="{{site.baseurl}}/assets/images/icons/ic_account_circle.svg" alt="">
      </a>
    </li>
    <li class="nav-bar__item nav-bar__item--active">
      <a href="{{site.baseurl}}/">
        <img src="{{site.baseurl}}/assets/images/icons/ic_gavel.svg" alt="">
      </a>
    </li>
    <li class="nav-bar__item">
      <a href="#">
        <img src="{{site.baseurl}}/assets/images/icons/ic_content_paste.svg" alt="">
      </a>
    </li>
    <li class="nav-bar__item">
      <a href="#">
        <img src="{{site.baseurl}}/assets/images/icons/ic_garage.svg" alt="">
      </a>
    </li>
    <li class="nav-bar__item">
      <a href="#">
        <img src="{{site.baseurl}}/assets/images/icons/ic_group.svg" alt="">
      </a>
    </li>
    <li class="nav-bar__item">
      <a href="#">
        <img src="{{site.baseurl}}/assets/images/icons/ic_account_balance_wallet.svg" alt="">
      </a>
    </li>
    <li class="nav-bar__item">
      <a href="#">
        <img src="{{site.baseurl}}/assets/images/icons/ic_domain.svg" alt="">
      </a>
    </li>
    <li class="nav-bar__item">
      <a href="#">
        <img src="{{site.baseurl}}/assets/images/icons/ic_timeline.svg" alt="">
      </a>
    </li>
    <li class="nav-bar__item">
      <a href="#">
        <img src="{{site.baseurl}}/assets/images/icons/ic_chat.svg" alt="">
      </a>
    </li>
  </ul>

  <ul>
    <li class="nav-bar__item--footer">
      <a href="#">
        <img src="{{site.baseurl}}/assets/images/icons/ico_exit.svg" alt="">
      </a>
    </li>
  </ul>
</div>