<div class="nav-bar">
  <ul class="list-menu">
    <li class="nav-bar__item--top">
      <a href="#" class="ico-account-sidebar">
        <i class="material-icons">account_circle</i>
      </a>
    </li>
    <li class="nav-bar__item nav-bar__item--active">
      <a href="{{site.baseurl}}/">
        <i class="material-icons">gavel</i>
      </a>
    </li>
    <li class="nav-bar__item">
      <a href="#">
        <img src="{{site.baseurl}}/assets/images/icons/ic_content_paste.svg" alt="">
      </a>
    </li>
    <li class="nav-bar__item">
      <a href="#">
        <img src="{{site.baseurl}}/assets/images/icons/ic_garage.svg" alt="">
      </a>
    </li>
    <li class="nav-bar__item">
      <a href="{{site.baseurl}}/usuarios/">
        <i class="material-icons">supervisor_account</i>
      </a>
    </li>
    <li class="nav-bar__item">
      <a href="{{site.baseurl}}/formas-de-pagamento">
        <i class="material-icons">account_balance_wallet</i>
      </a>
    </li>
    <li class="nav-bar__item">
      <a href="#">
        <i class="material-icons">domain</i>
      </a>
    </li>
    <li class="nav-bar__item">
      <a href="#">
        <i class="material-icons">timeline</i>
      </a>
    </li>
    <li class="nav-bar__item">
      <a href="#">
        <i class="material-icons">chat</i>
      </a>
    </li>
  </ul>

  <ul>
    <li class="nav-bar__item--footer">
      <a href="#">
        <img src="{{site.baseurl}}/assets/images/icons/ico_exit.svg" alt="">
      </a>
    </li>
  </ul>
</div>