<div class="box-card card-opp">
  
  <div class="card-opp--open__content">

    <div class="card-opp--open__header">
      <div class="card-opp__close">
        <span><img src="{{site.baseurl}}/assets/images/icons/ic_close.png" alt=""></span>
      </div>
      <div class="card-opp__visibility">
        <a href="javascript:"><img src="{{site.baseurl}}/assets/images/icons/ic_visibility.png" alt=""></a>
      </div>
    </div>
    
    <div class="card-opp--open__image">
      <img src="{{site.baseurl}}/assets/images/policorte.png" alt="">
    </div>
    
    <div class="card-opp--open__name">
      <h4 class="box-card__title">
        Martelete <span>20W</span>
      </h4>
      <p class="box-card__equipement-cat">Eletrico</p>
    </div>

    <div class="card-opp--open__qty">
      <div class="box-card__qty">
        qtd.
        <span>1</span>
      </div>
      <div class="box-card__qty">
        <span>10</span> em estoque
      </div>
    </div>

    <div class="card-opp--open__deadline">
      <div><span>10 dias</span></div>
      <div>
        <span>
          <i class="material-icons">near_me</i>
          59 km</span>
      </div>
    </div>

    <div class="card-opp__prices">
      <div class="card-opp__prices-date">
        <p>Receba no dia</p>
        <h5><i class="material-icons">account_balance_wallet</i> 12/12</h5>
      </div>
      <div class="card-opp__prices-prediction">
        <p>Sua Previsão</p>
        <h5>1.170,87</h5>
      </div>
    </div>

    <div class="card-box__timeline">
      <div class="card-box__timeline-time">1:45:10</div>
      <div class="card-box__timeline-progress">
        <div class="progress">
          <div class="determinate" style="width: 70%"></div>
        </div>
      </div>
    </div>
  </div> <!-- card-opp__open__content -->

  <div class="box-card__sidebar">
    
    <div class="box-card__sidebar-delivery">
      <span>Entrega</span>
      <p>12/01</p>
    </div>
    <div class="box-card__sidebar-removal">
      <span>Retirada</span>
      <p>22/01</p>
    </div>

    <div class="box-card__sidebar-info">
      <span>Diária</span>
      <p>120,00</p>
      <span>R$/Km</span>
      <p>1,00</p>
    </div>

    <div class="box-card__price">
      <span class="box-discount--open box-discount--open--positive">
        +7%
      </span>
      <span>Total Atual</span> 1.259,00
    </div>
    <div class="box-card__accept">
      <button class="waves-effect">
        Aceitar
        <span>
          <img src="assets/images/icons/accept-ico.png" alt="">
        </span>
      </button>
    </div>
  </div>

</div>