<div class="box-card card-opp">
  
  <a href="#" class="box-card__link">

    <div class="box-card__link-left">
      <h4 class="box-card__title">Martelete <span>20kg</span></h4>
      <p class="box-card__equipement-cat">Eletrico</p>
      <div class="box-card__qty">
        qtd. <span>1</span>
      </div>
    </div><!-- box-card__link-left -->

    <div class="box-card__link-right">
      <div class="box-card__day">
        <p class="box-card__day-text">10 dias</p>
        <p class="box-card__day-between">
          <span>12/01</span> > <span>22/01</span>
        </p>
      </div>
      <div class="box-card__distance">
        <img src="assets/images/icons/ic_near_me.png" alt="">
        58 km
      </div>
    </div> <!-- box-card__link-right -->

    <div class="card-box__timeline">
      <div class="card-box__timeline-time">1:45:10</div>
      <div class="card-box__timeline-progress">
        <div class="progress">
          <div class="determinate" style="width: 70%"></div>
        </div>
      </div>
    </div>
  </a> <!-- box-card__link -->

  <div class="box-card__sidebar">
    <div class="box-discount">
      (-17%)
    </div>
    <div class="box-card__price">
      <span>R$</span> 1.259,00
    </div>
    <div class="box-card__accept">
      <button class="waves-effect">
        Aceitar
        <span>
          <img src="assets/images/icons/accept-ico.png" alt="">
        </span>
      </button>
    </div>
  </div>

</div>