
.page-content
  flex: 1
  background: #F2F2F2
  overflow: auto
  height: 100vh

/* COLUMNS SITE */

.p-wrapper
  padding-left: 15px
  padding-right: 15px

.wrapper-columns
  display: grid
  grid-template-columns: 1fr minmax(36%, 339px) 1fr
  grid-column-gap: 30px

.col-item
  position: relative

/* HEADER-COLUMN */

.header-column
  position: relative
  background: #FAFAFA
  padding: 0 5%
  height: 84px
  display: flex
  align-items: center
  margin-bottom: 22px

  p
    font-size: 33px
    margin: 0
    line-height: 1
    font-weight: 300

.header-column__label
  position: absolute
  right: 15px
  height: 36px
  top: 0
  bottom: 0
  margin: auto 0
  background: #F9A01B
  border-radius: 18px
  box-shadow: 0 3px 10px rgba(#000, 0.4)
  width: 120px
  display: flex
  align-items: center
  justify-content: center
  font-size: 24px
  line-height: 1.3 

  input
    position: relative
    top: 5px
    max-width: 90%
    margin-left: auto
    margin-right: auto
    text-align: center
    font-size: 24px
    height: 25px!important
    border-bottom: 0!important
    font-family: 'Roboto'

    &[value] 
      color: white

.datepicker-header
  width: 50px!important
  // border-bottom: 0!important
  height: 25px!important

.input-field__header-colum
  width: 100px
  position: relative
  left: 20px
  top: 5px
  input
    border: 0!important
    font-size: .9rem!important
    // max-width: 50px
    height: 20px!important
    margin-bottom: 0!important
  ul li
    span
      color: #111

.search-col-layout
  position: sticky
  top: 0
  left: 0
  right: 0
  bottom: 0
  display: flex
  align-items: center
  justify-content: center
  height: calc(100vh - 72px);

  form
    position: relative
    width: 90%

    input 
      width: calc(100% - 55px)!important
      border: 0!important
      background: #FAFAFA!important
      box-shadow: 0 20px 20px rgba(#000, 0.16)!important
      padding: 0 10px 0 45px!important

    i 
      position: absolute
      left: 10px
      top: 13px



