.box-card
  box-shadow: 0 10px 10px rgba(#000, 0.16);
  background-color: white
  border-radius: 10px
  display: flex
  overflow: hidden
  margin-bottom: 15px

  


/* PROGRESS BAR */

.progress
  background: #F9A01B

  .determinate
    background: #212121

