/* General */

.p-black
  background: #212121!important

.t-white
  color: white

.d-flex
  display: flex

.d-flex-center-v
  display: flex
  align-items: center

.d-flex-center-h
  display: flex
  justify-content: center

.d-flex-center
  display: flex
  justify-content: center
  align-items: center
  

/* box-cards */  
  
.box-card
  box-shadow: 0 10px 10px rgba(#000, 0.16)
  background-color: white
  border-radius: 10px
  @extend .d-flex
  overflow: hidden
  margin-bottom: 15px

.g-card
  position: relative
  z-index: 1
  @extend .d-flex
  flex-direction: column
  height: 166px
  background: white
  padding: 0 20px
  border-radius: 10px
  box-shadow: 0 4px 16px rgba(#000, 0.16)
  margin-bottom: 15px

.g-card-row
  flex-direction: row

.g-card__top
  position: relative
  height: 35px
  text-align: center
  text-transform: uppercase
  @extend .d-flex-center

  p
    margin: 0
  
  i 
    position: absolute
    right: 0
    top: 5px
    cursor: pointer

.g-card__header
  @extend .d-flex-center-v
  .box-card__title
    flex: 1
  .box-card__qty
    width: 100px
    font-size: 16px
    span
      font-size: 24px

.g-card__local
  margin-bottom: auto
  @extend .d-flex-center-v

  p 
    @extend .d-flex-center-v
    font-weight: 300
    flex: 1
    margin: 0
    i 
      color: $color-p
      font-size: 22px

.g-card__button-mid
  text-align: center

  button 
    border-radius: 18px
    height: 33px
    border: 1px solid #212121
    background: none
    padding-right: 15px
    padding-left: 15px

.mb-0
  margin-bottom: 0
  
.g-card__progress
  @extend .d-flex
  div
    position: relative
    top: 3px
    flex: 1
  span
    margin: 0 5px
    padding: 0 5px
    display: block
    height: 20px
    font-weight: 300
    font-size: 15px

    &:first-child
      background: #212121
      color: white
      border-radius: 25px
      line-height: 1.5


.g-card__labels
  @extend .d-flex
  justify-content: space-around
  padding-top: 15px

.g-card__label-item
  border: 2px solid #212121
  border-radius: 20px
  padding: 5px 20px
  line-height: 1

  span 
    font-size: 24px
    color: $color-p


.g-card-black
  background: #212121
  color: white

  .determinate
    background: #F9A01B!important

  .g-card__button-mid
    text-align: center

  button 
    border: 1px solid #F9A01B
    color: #F9A01B

  .g-card__progress
    span
      &:first-child
        background: #F9A01B
        color: #212121

/* Meus Pedidos */

.g-card-pdd
  box-shadow: 0 10px 10px rgba(#000, 0.16)
  background-color: white
  border-radius: 10px
  @extend .d-flex
  overflow: hidden
  margin-bottom: 15px
  height: 166px

  .g-card__header
    .box-header-ext
      .box-card__equipement-cat
        text-align: center

    .box-card__qty
      text-align: right
  
  .g-card-pdd_legend-progress
    color: #F9A01B


.g-card-pdd__body
  flex: 1
  @extend .d-flex
  flex-direction: column
  padding: 15px 15px 3px 15px

  .g-card__local
    margin-top: 15px

.g-card-pdd__sidebar
  padding: 7px 0
  flex-grow: 0
  flex-basis: 200px
  background: #212121
  color: white;
  @extend .d-flex
  flex-direction: column
  justify-content: space-around
  box-shadow: 0 10px 10px rgba(#111, 0.16)

.g-card-pdd__sidebar-item
  position: relative
  left: -10px

  .button
    position: relative
    left: -23px
  a
    color: white

    span
      position: relative
      top: 5px
      margin-right: 5px
      width: 32px
      height: 32px
      display: inline-flex
      align-items: center
      justify-content: center
      border-radius: 50%
      box-shadow: 0 3px 6px rgba(#000, 0.16)

      i 
        font-size: 22px

.gc-pdd-sidebar-item-1
  a 
    span
      background: #FEC111
.gc-pdd-sidebar-item-2
  a 
    span
      background: #F9A01B
.gc-pdd-sidebar-item-3
  a 
    span
      background: #fff
      color: #212121

.g-card-pdd-yellow,
.g-card-pdd-yellow .g-card-pdd__sidebar
    background: #F9A01B

    .g-card-pdd_legend-progress
      color: #212121

    .g-card__local
      i 
        color: #212121

.g-card-pdd-black,
.g-card-pdd-black .g-card-pdd__sidebar
    background: #212121
    color: white


/* PROGRESS BAR */

.progress
  background: #F9A01B

  .determinate
    background: #212121

.g-card__progress-black
  padding-bottom: 5px
  p 
    text-align: right
    flex: 1
    margin: 0
    padding-right: 10px
    color: $color-p
    font-size: .9rem
    font-weight: 300

  span 
    background: $color-p
    border-radius: 18px
    font-weight: 500
    transform: scale(1.1)

.g-card-pdd_legend-progress 
  font-size: .9rem
  margin: 0
  text-align: center
  position: relative
  top: 10px

