/* General */

.p-black
  background: #212121!important

.t-white
  color: white

.d-flex
  display: flex

.d-flex-center-v
  display: flex
  align-items: center

.d-flex-center-h
  display: flex
  justify-content: center

.d-flex-center
  display: flex
  justify-content: center
  align-items: center
  

/* box-cards */  
  
.box-card
  box-shadow: 0 10px 10px rgba(#000, 0.16)
  background-color: white
  border-radius: 10px
  @extend .d-flex
  overflow: hidden
  margin-bottom: 15px

.g-card
  position: relative
  z-index: 1
  @extend .d-flex
  flex-direction: column
  min-height: 166px
  background: white
  padding: 0 20px
  border-radius: 10px
  box-shadow: 0 4px 16px rgba(#000, 0.16)
  margin-bottom: 15px

.g-card-row
  flex-direction: row

.g-card__top
  position: relative
  height: 35px
  text-align: center
  text-transform: uppercase
  @extend .d-flex-center

  p
    margin: 0
  
  i 
    position: absolute
    right: 0
    top: 5px
    cursor: pointer

.g-card__header
  @extend .d-flex-center-v
  .box-card__title
    flex: 1
  .box-card__qty
    width: 100px
    font-size: 16px
    span
      font-size: 24px

.g-card__local
  margin-bottom: auto
  @extend .d-flex-center-v

  p 
    @extend .d-flex-center-v
    font-weight: 300
    flex: 1
    margin: 0
    i 
      color: $color-p
      font-size: 22px

.g-card__button-mid
  text-align: center

  button 
    border-radius: 18px
    height: 33px
    border: 1px solid #212121
    background: none
    padding-right: 15px
    padding-left: 15px

.mb-0
  margin-bottom: 0
  
.g-card__progress
  @extend .d-flex
  div
    position: relative
    top: 3px
    flex: 1
  span
    margin: 0 5px
    padding: 0 5px
    display: block
    height: 20px
    font-weight: 300
    font-size: 15px

    &:first-child
      background: #212121
      color: white
      border-radius: 25px
      line-height: 1.5


.g-card__labels
  @extend .d-flex
  justify-content: space-around
  padding-top: 15px

.g-card__label-item
  border: 2px solid #212121
  border-radius: 20px
  padding: 5px 20px
  line-height: 1

  span 
    font-size: 24px
    color: $color-p


/* g-card-open */

.g-card-open__header-dates
  margin-left: -20px
  margin-right: -20px
  background: #F9A01B
  border-radius: 5px
  @extend .d-flex
  justify-content: space-around
  align-items: flex-end
  
  div
    color: white
    text-align: center
    p,
    h4 
      margin: 0
      font-weight: 300
    h4 
      font-size: 33px
    p 
      font-size: 18px

.g-card-open__header-title
  position: relative
  margin-top: 20px
  margin-left: -20px
  margin-right: -20px
  padding: 0 20px
  height: 86px
  display: flex
  flex-direction: column
  justify-content: center
  background: #ffffff
  background: -moz-linear-gradient(left, #ffffff 0%, #f2f2f2 100%)
  background: -webkit-linear-gradient(left, #ffffff 0%,#f2f2f2 100%)
  background: linear-gradient(to right, #ffffff 0%,#f2f2f2 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=1 )

  h3,
  p 
    max-width: 300px
    margin: 0

  h3
    font-size: 24px

  img
    position: absolute
    right: 5px
    top: 10px
    width: 102px

.g-card-open__qty-bg-black
  font-size: 14px
  background: #212121
  color: white
  text-align: center
  width: 80px
  padding: 2px 0
  border-radius: 18px
  margin: 15px auto
  span
    font-size: 20px

.g-card-open__order-summary
  background: #212121
  margin-left: -20px
  margin-right: -20px
  color: white

  h3 
    margin: 0
    padding: 15px 0
    font-size: 24px
    text-align: center
    svg
      width: 20px

.g-card-open__order-summary-content
  @extend .d-flex

  > div 
    flex: 1

    &:first-child
      text-align: right

      p,
      span 
        font-size: 17px
        line-height: 1.1

      .gco-osc-line
        position: relative
        top: -4px
        width: 55px
        display: inline-block
        height: 1px
        background: white
        margin: 0 5px

      p 
        font-weight: 100
        color: #808080
        margin: 0
        padding-top: 3px
      span 
        font-weight: 100

    .g-card-pdd__prices
      justify-content: center

      p,
      h5 
        font-weight: 300

.g-card-open__order-summary-price
  text-align: center
  padding: 15px 0

  span 
    font-size: 16px
    font-weight: 300

  p 
    font-size: 26px
    color: $color-p
    margin: 0
    line-height: 1

    small 
      font-size: 16px
      color: white
      margin-right: 15px



/* state g-card  */

.g-card-black
  background: #212121
  color: white

  .determinate
    background: #F9A01B!important

  .g-card__button-mid
    text-align: center

  button 
    border: 1px solid #F9A01B
    color: #F9A01B

  .g-card__progress
    span
      &:first-child
        background: #F9A01B
        color: #212121


/* Meus Pedidos */

.g-card-pdd
  box-shadow: 0 10px 10px rgba(#000, 0.16)
  background-color: white
  border-radius: 10px
  @extend .d-flex
  overflow: hidden
  margin-bottom: 15px
  min-height: 166px

  .g-card__header
    .box-header-ext
      .box-card__equipement-cat
        text-align: center

    .box-card__qty
      text-align: right
  
  .g-card-pdd_legend-progress
    color: #F9A01B


.g-card-pdd__body
  position: relative
  flex: 1
  @extend .d-flex
  flex-direction: column
  padding: 15px 15px 3px 15px

  .g-card__local
    margin-top: 15px

.g-card-pdd__sidebar
  position: relative
  padding: 7px 0
  flex-grow: 0
  flex-basis: 200px
  background: #212121
  color: white
  @extend .d-flex
  flex-direction: column
  justify-content: space-around
  box-shadow: 0 10px 10px rgba(#111, 0.16)

.g-card-pdd__sidebar-item
  position: relative
  left: -10px

  .button
    position: relative
    left: -23px

  a
    color: white
    span
      position: relative
      top: 5px
      margin-right: 5px
      width: 32px
      height: 32px
      display: inline-flex
      align-items: center
      justify-content: center
      border-radius: 50%
      box-shadow: 0 3px 6px rgba(#000, 0.16)

      i 
        font-size: 22px

.gc-pdd-sidebar-item-1
  a 
    span
      background: #FEC111
.gc-pdd-sidebar-item-2
  a 
    span
      background: #F9A01B
.gc-pdd-sidebar-item-3
  a 
    span
      background: #fff
      color: #212121


/* CARD-MEUS-PEDIDOS-OPEN */

.g-card-pdd--open__header
  display: flex
  align-items: center
  justify-content: space-between
  position: relative
  top: -10px

.card-opp__id
  position: relative
  top: -5px

.g-card-pdd__visibility
  text-align: right
  a
    position: relative
    top: 3px

.g-card-pdd__close
  cursor: pointer
  span
    background: #FAFAFA
    width: 36px
    height: 36px
    display: block
    display: flex
    align-items: center
    justify-content: center
    border-radius: 50%
    box-shadow: 0 5px 10px rgba(#000,0.16)


.g-card-pdd--open__image
  text-align: center
  padding-left: 20px
  position: relative
  z-index: 0
  margin-left: -20px
  margin-right: -20px

  img 
    width: 120px

  &:after
    z-index: -1
    position: absolute
    bottom: 0
    left: 0
    height: 60px
    width: 100%
    content: ""
    background: -moz-linear-gradient(left, rgba(242,242,242,1) 0%, rgba(242,242,242,0) 100%)
    background: -webkit-linear-gradient(left, rgba(242,242,242,1) 0%,rgba(242,242,242,0) 100%)
    background: linear-gradient(to right, rgba(242,242,242,1) 0%,rgba(242,242,242,0) 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#00f2f2f2',GradientType=1 )

.g-card-pdd--open__name
  text-align: center
  padding: 10px 0

.g-card-pdd--open__qty
  display: flex
  > div
    flex: 1
  
  .box-card__qty
    padding: 0 9px
    span
      font-weight: 500
    &:first-child
      text-align: center

.g-card-pdd--open__deadline
  font-size: 20px
  padding-left: 20px
  padding-top: 30px
  padding-bottom: 20px
  overflow: hidden

  i 
    color: $color-p

  div
    position: relative
    padding: 5px 0
    span
      width: 90px
      background: white
      display: block
      z-index: 1
      position: relative
    &:after
      position: absolute
      width: 100%
      height: 1px
      background: #CFD8DC
      top: 0
      bottom: 0
      margin-top: auto
      margin-bottom: auto
      content: ""

.g-card-pdd__prices
  display: flex
  justify-content: flex-end
  padding: 0 0 0 20px
  text-align: center
  align-items: center

  p
    margin: 3px 0
    font-size: 1.1rem
  h5
    margin: 0
  

.g-card-pdd__prices-date
  h5
    position: relative
    font-size: 1.5rem

    i
      color: $color-p
      position: absolute
      left: -10px
      top: -2px

.g-card__local-pdd
  padding-top: 20px
  margin-bottom: 15px

.g-card-pdd__map
  max-width: 90%
  margin-bottom: 15px

  img
    max-width: 100%
    height: auto

  p 
    margin: 0
    font-weight: 300


/* sidebar */

.g-card-pdd__sidebar-open
  padding-bottom: 20px

.g-card-pdd__sidebar-open__content
  text-align: center

.g-card-pdd__sidebar-delivery,
.g-card-pdd__sidebar-removal
  margin: 20px 0
  span
    display: block
  p
    margin: 0
    font-size: 33px
    color: $color-p
    font-weight: 300
    line-height: 1
  

.g-card-pdd__sidebar-removal
  h6
    color: #FEC111

.g-card-pdd__sidebar-info
  padding-top: 30px
  span
    display: block
  p 
    color: $color-p
    margin: 0
    font-size: 24px


.g-card-pdd__price
  position: relative
  color: #F9A01B
  font-size: 33px
  font-weight: 300
  line-height: 1.1
  padding-top: 20px
  margin-bottom: 15px

  span
    display: block
    color: white
    font-size: 20px
    font-weight: 400


.g-card-pdd-yellow,
.g-card-pdd-yellow .g-card-pdd__sidebar
  background: #F9A01B

  .g-card-pdd_legend-progress
    color: #212121

  .g-card__local
    i 
      color: #212121

.g-card-pdd-black,
.g-card-pdd-black .g-card-pdd__sidebar
  background: #212121
  color: white


/* PROGRESS BAR */

.progress
  background: #F9A01B

  .determinate
    background: #212121

.g-card__progress-black
  padding-bottom: 5px
  p 
    text-align: right
    flex: 1
    margin: 0
    padding-right: 10px
    color: $color-p
    font-size: .9rem
    font-weight: 300

  span 
    background: $color-p
    border-radius: 18px
    font-weight: 500
    transform: scale(1.1)

.g-card-pdd_legend-progress 
  font-size: .9rem
  margin: 0
  text-align: center
  position: relative
  top: 10px




/* GARAGE */

.list-garage-scroll-h
  padding: 0 20px
  overflow-x: auto
  margin-bottom: 20px

.g-card-garage__container
  display: flex
  // flex-wrap: wrap
  padding-bottom: 33px

.g-card-garage
  position: relative
  min-height: 122px
  max-width: 445px
  min-width: 445px
  margin-right: 15px

.g-card-garage-black
  background: #212121
  color: white
  z-index: 0

  &:after
    z-index: -1
    position: absolute
    width: 68px
    height: 68px
    left: 0
    right: 0
    background: #212121
    bottom: -34px
    margin-left: auto
    margin-right: auto
    content: " "
    transform: rotate(45deg)

.g-card-garage__id
  text-align: center

  p 
    margin: 5px 0

.g-card-garage__title
  font-size: 24px

.g-card-garage__edit
  position: absolute
  top: 37px
  right: 45px
  width: 36px
  height: 36px
  box-shadow: 0 10px 10px rgba(#000, 0.16)
  border-radius: 50%
  cursor: pointer
  background: white

  span
    position: relative
    top: 8px
    left: 8px

    i 
      font-size: 22px
      color: #212121


.g-card-s-line-flex
  margin-bottom: auto
  > div 
    &:first-child
      flex: 2
    &:last-child
      position: relative
      top: -3px
      flex: 1
      text-align: center

.g-card__button-mid-yellow
  button 
    color: $color-p
    border-color: $color-p

  span
    position: relative
    top: -5px
    font-size: 1.1rem
  
.garage-empty
  padding-top: 70px