.top-bar-page
  display: flex
  margin-bottom: 27px

.top-bar-page__menu
  ul
    display: flex
    list-style: none
    padding-left: 30px
    padding-right: 80px
    margin: 0
    border-bottom: 1px solid #111

    li
      a
        display: block
        padding: 11px 30px
        color: #111